:root {
  --very-dark-blue: #242942;
  --reddish: #BC4747;
  --bright-pink: #FF5E5E;
  --dark-grayish-blue: hsl(230, 11%, 40%);
  --grayish-blue: hsl(231, 7%, 65%);
  --light-grayish-blue: hsl(207, 33%, 95%);
}


body {
  color: var(--grayish-blue);
  font-family: 'Barlow', sans-serif;
  font-size: 1.125rem;
}

h6 {
  font-family: 'Barlow-Condensed', sans-serif;
  font-size: 0.80rem;
  font-weight: 400;
  letter-spacing: 3px;
  transform: scale(1, 1.2); /* make letters look skinnier and taller */
}

.emphasized {
  color: var(--light-grayish-blue);
  background-color: var(--very-dark-blue);
  border-radius: 15px;
  font-weight: 700;
  letter-spacing: normal;
  margin-right: 10px;
  text-align: center;
  padding: 4px 12px;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding: 5% 10%;
  position: relative;
}

.rectangle {
  background-color: var(--light-grayish-blue);
  border-bottom-left-radius: 50px;
  width: 60%;
  height: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 80%;
  width: 100%;
}

.top-row {
  grid-column-start: 1;
  grid-column-end: 3;
  position: relative;
}

/* Navbar */

.nav {
  display: inline;
  height: 100%;
  list-style-type: none;
  text-align: right;
  margin: 0;
  position: absolute;
  right: 0;
}

.greyish-blue {
  color: var(--grayish-blue);
}

.nav li {
  display: inline;
  margin: 0 25px;
  vertical-align: middle
}

.nav li a {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
}

a.navlink {
  color: var(--very-dark-blue);
}

.nav li a:hover {
  text-decoration: underline;
}

.nav-divider::before {
  content: "•"; /* Adding content here so we can change the color */
}

/* Left column */

.top-header {
  margin-top: 20%;
}
